{% extends 'index.html' %}
{% block content %}
<h1 style="font-size:30px;font-family: auto;margin-top: 5rem;text-align: center;"><b>About the Web Page</b></h1>
<p style="font-size: 16px;font-family: auto;margin: 3rem;margin-top: 1rem;">Skin diseases are conditions that affects the skin of many people. With a skin disease you should choose your
    treatment and medication right to improve the condition and not to make it even worse. Many people experience a skin
    disease at some point in their lives, since the skin is the body's largest organ and it is rather exposed, greatly
    increasing its risk of becoming diseased or damaged. It is also a field a study in which a person specializes in the
    skin, hair, and nails; plus disorders. Some skin diseases are chronic, meaning that they are caused by genetics.
    Other skin diseases are acquired, as in the case of infections which target the skin. Bacteria and fungi are
    especially fond of causing skin infections, which can vary from impetigo on the face to athlete’s foot between the
    toes. These conditions can typically be treated with the application of medications. Most of the skin infections
    treatment takes long time to show their effects. The problem becomes more worrisome the ailment does not respond to
    skin disorder.<br>

    The skin plays a vital role in the human body and is considered the largest organ. However, people tend to neglect
    the importance of human skin and they suffer the dangerous outcomes at the end. Some were common and there are also
    unknown and discovered. Due to lack of finances people tend to cure themselves without knowledge.<br>

    In modern society, more and more people are attacked by a variety of diseases. In medicine, relevant skin diseases
    seriously affect people’s health. As one of the common diseases, skin diseases such as leprosy, scabies, fungal
    disease, bacterial skin infections appear frequently.<br>

    So to solve such issues we have taken our small initiative and made an AI based model to take disease picture as
    input and provide the solution for it</p>
{% endblock %}